<h2>Format et modèle ce-core-data</h2>
<p>ce-core-data est une librairie Typescript utilisée pour gérer le format formulaire de CeForms.</p>

<h3>Installation de la librairies</h3>

<p>La librairie est disponible sur npm : </p>
<pre>
    <code [highlight]="'npm i @codeffekt/ce-core-data'" [languages]="['bash']"></code>
</pre>


<h3>Modèle Typescript</h3>

<p>Les formulaires sont regroupés en deux catégories, les formulaires raçines ou templates et les instances de formulaires.</p>

<p>La librairie décrit un formulaire raçine <strong>FormRoot</strong> de la manière suivante </p>
<pre>
    <code [highlight]="formRootStr" [languages]="['typescript']"></code>
</pre>

<p>La librairie décrit une instance de formulaire à partir de l'interface <strong>FormInstance</strong></p>
<pre>
    <code [highlight]="formInstanceStr" [languages]="['typescript']"></code>
</pre>