<ce-grid class="h-100" templateRows="auto 1fr">
    <ce-navbar [useToggleSideMenu]="false">
        <ce-navbar-item>CeForms</ce-navbar-item>
        <ce-navbar-content><a [routerLink]="['..', 'docs']">Docs</a></ce-navbar-content>
    </ce-navbar>
    <h1>CeForms</h1>
    <h2>Solution de formulaires pour l'acquisition et la gestion des données</h2>
    <p>CeForms est un ensemble d'outils logiciels OpenSource permettant de construire
        des solutions logicelles pour gérer l'acquisition et la restitution de données
        numériques.
    </p>
    <h3>Que contient CeForms ?</h3>
    <p>CeForms est un ensemble d'outils logiciels majoritairement écrit en Typescript qui comprend :        
    </p>
    <ul>
        <li><i>ce-events-data</i> Les modèles (interfaces Typescript) pour la gestion des événements sur 
        les formulaires</li>
        <li><i>ce-core-data</i> Les modèles (interfaces Typescript) relatifs aux formulaires</li>
        <li><i>ce-core</i> Une librairie Angular permettant de construire des interfaces Web (frontends) autour
        des formulaires</li>
    </ul>
    <h3>Qui utilise CeForms ?</h3>
    <p>CeForms est utilisé par les entreprise souhaitant simplifier les process 
    nécessitant l'acquisition de données.</p>
    <h3>Comment démarrer ?</h3>
    <p>Allez sur les documentations</p>
    <h3>Qui est à l'origine de CeForms ?</h3>
    <p>La société Codeffekt est à l'origine de la solution CeForms</p>
</ce-grid>