<ce-side-menu title="Ce-Core Démo" logo="assets/app_logo.png">
    <ce-side-menu-content>
        <ce-side-menu-list>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['form']" icon="assignment" label="Formulaires">
            </ce-side-menu-item>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['tables']" icon="view_module" label="Tables">
            </ce-side-menu-item>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['lists']" icon="view_module" label="Lists">
            </ce-side-menu-item>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['apps']" icon="view_module" label="Apps">
            </ce-side-menu-item>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['projects']" icon="view_module"
                label="Projects">
            </ce-side-menu-item>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['assets']" icon="view_module" label="Assets">
            </ce-side-menu-item>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['navs']" icon="view_module" label="Navs">
            </ce-side-menu-item>
        </ce-side-menu-list>
    </ce-side-menu-content>
    <ce-side-menu-footer>
        <div class="mat-caption text-light text-center">1.0.0</div>
    </ce-side-menu-footer>
</ce-side-menu>