<h2>Le module ce-admin</h2>
<p>ce-admin est une librairie Angular utilisée pour créer l'ui administrateur de gestion des formulaires</p>

<h3>Installation de la librarie</h3>

<p>La librairie est disponible sur npm : </p>
<pre>
    <code [highlight]="'npm i @codeffekt/ce-core-data @codeffekt/ce-events-data @codeffekt/ce-core @codeffekt/ce-admin'" [languages]="['bash']"></code>
</pre>

<p>Il faut ensuite importer le module <strong>CeAdminModule</strong> dans le app.module </p>
<pre>
    <code [highlight]="appModuleStr" [languages]="['typescript']"></code>
</pre>

<h3>Gestion du style</h3>
<p></p>
<pre>
    <code [highlight]="appStyleStr" [languages]="['typescript']"></code>
</pre>