<mat-drawer-container class="h-100">
    <mat-drawer mode="side" [opened]="true" style="width:256px">
        <ce-side-menu title="Ce-Core Démo" logo="assets/app_logo.png">
            <ce-side-menu-content>
                <ce-side-menu-list>
                    <ce-side-menu-header>Démarrage</ce-side-menu-header>
                    <ce-side-menu-item routerLinkActive="active" [routerLink]="['quickstart', 'introduction']"
                        label="Introduction">
                    </ce-side-menu-item>
                    <ce-side-menu-item routerLinkActive="active" [routerLink]="['quickstart', 'ce-core']"
                        label="Rendu ce-core">
                    </ce-side-menu-item>
                    <ce-side-menu-item routerLinkActive="active" [routerLink]="['quickstart', 'ce-core-data']"
                        label="Format et modèle">
                    </ce-side-menu-item>
                </ce-side-menu-list>                
            </ce-side-menu-content>
            <ce-side-menu-footer>
                <div class="mat-caption text-light text-center">1.0.0</div>
            </ce-side-menu-footer>
        </ce-side-menu>
    </mat-drawer>
    <mat-drawer-content>
        <ce-grid class="h-100" templateRows="auto 1fr">
            <ce-navbar>
                <ce-navbar-item [routerLink]="['..']">CeForms</ce-navbar-item>
            </ce-navbar>
            <div overflow-auto cePadding="32px">
                <router-outlet></router-outlet>
            </div>
        </ce-grid>
    </mat-drawer-content>
</mat-drawer-container>