<ce-side-menu title="Ce-Core Démo" logo="assets/app_logo.png">
    <ce-side-menu-content>
        <ce-side-menu-list>
            <ce-side-menu-header>Démarrage</ce-side-menu-header>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['docs', 'quickstart', 'quickstart-introduction']"
                label="Introduction">
            </ce-side-menu-item>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['docs', 'quickstart', 'ce-core-installation']"
                label="Rendu ce-core">
            </ce-side-menu-item>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['docs', 'quickstart', 'quickstart-ce-core-data']"
                label="Format et modèle">
            </ce-side-menu-item>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['docs', 'quickstart', 'quickstart-admin']"
                label="Le module ce-admin">
            </ce-side-menu-item>
            <ce-side-menu-item routerLinkActive="active" [routerLink]="['docs', 'quickstart', 'quickstart-application']"
                label="Créer une application">
            </ce-side-menu-item>
        </ce-side-menu-list>                
    </ce-side-menu-content>
    <ce-side-menu-footer>
        <div class="mat-caption text-light text-center">1.0.0</div>
    </ce-side-menu-footer>
</ce-side-menu>